# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn clean test
  
  test-tunnel:
    runs-on: ubuntu-latest
    steps:
    - name: Start Tunnel
      uses: LambdaTest/LambdaTest-tunnel-action@v1
      id: tunnel-id1
      with:
         user: suparna3107@gmail.com
         accessKey: NxNK9ORUuJXOv1aCcjGncMC7nrDsfAyjDhHf6jb19UxsDHgGL0
         tunnelName: "testTunnel-id1"
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn clean test
    #mvn -B package --file pom.xml test
            #mvn clean test    
            #mvn clean test -f pom.xml

